body {
    font-family: 'open sans', sans-serif;
    background-color: #eeeeee;
}

.navbar {
    height: 100px;
    background-color: #960607;
    border-color: #960607;
    border-radius: 0px;
    -webkit-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.40);
    margin-bottom: 0px;

}

#navbottom {
    height: 0px;
    border-color: #eeeeee;
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: #eeeeee;
}

.lemmeister {
    font-weight: bolder;
    color: #960607;
}

#title {
    color: white;
}

#title div:first-child {
    font-size: 40pt;
    font-weight: lighter;
}

#title div:nth-child(2) {
    font-size: 18pt;
    font-weight: lighter;
    -webkit-transform: translateY(-20px);
}

#holder {

}

#card {
    background-color: white;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
    padding-bottom: 50px;
}

label {
    color: #960607;
}

#cardleft {
}

#cardleft div {
     padding-top: 20px;
 }

#cardright div {
    padding-top: 17px;
}

.real {
    font-style: normal;
    font-weight: bold;
    font-size: 15pt;

}

.pos {
    font-weight: lighter;
    font-size: 10pt;
}

.imaginary {
    font-style: italic;
    font-weight: lighter;
    font-size: 15pt;
}

.plusj {
    font-size: 15pt;
    font-weight: bolder;
}

#optioner {
    margin-top: 20px;
    margin-bottom: 4px;
}
.option {
    font-size: 12pt;
    padding-right: 30px;
    font-weight: lighter;
}

.option:hover {
    font-weight: bolder;
    cursor: pointer;
}

.sub {
    vertical-align: sub;
    font-weight: normal;
}

.changeparam {
    font-weight: bold;

}

.lam span:nth-child(1) {
    font-size: 12pt;
    font-weight: bolder;
}

#upnotch {
    margin-top: 20px;
    height: 20px;
}

a {
    cursor: pointer;
}

a:hover {
    color: #960607;
    font-weight: lighter;
    text-decoration: none;
}

#determinant {
    font-weight: bolder;
}